@import 'common/var.scss';

$prefixCls: x-breadcrumb;

.#{$prefixCls} {
  font-size: 14px;
  line-height: 1;
  &_inner {
    color: $--color-text-regular;
  }
  &_separator {
    margin: 0 8px;
    color: $--color-text-placeholder;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: $--color-text-primary;
    transition: .2s;
    &:hover {
      color: $--color-primary;
    }
  }
  > .#{$prefixCls}-item:last-child .#{$prefixCls}_separator {
    display: none;
  }
}