@import 'common/var.scss';

.x-button {
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  white-space: nowrap;
  padding: 12px 20px;
  border: $--border-base;
  transition: .1s;
  font-size: 14px;
  border-radius: 4px;
  color: $--color-text-regular;
  background-color: #fff;
  &_medium {
    padding: 10px 20px;
  }
  &_small {
    font-size: 12px;
    padding: 9px 15px;
  }
  &_mini {
    font-size: 12px;
    padding: 7px 15px;
  }
  &.is-round {
    border-radius: 20px;
  }
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
  + .x-button {
    margin-left: 10px;
  }
  &:hover, &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }
  &:active {
    border-color: $--color-primary;
  }
  &.is-plain {
    &:hover, &:focus {
      color: $--color-primary;
      border-color: currentColor;
      background-color: #fff;
    }
    &:active {
      color: mix(#000, $--color-primary, 10%);
    }
  }
  &.is-loading {
    pointer-events: none;
    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.35);
    }
  }
  &.is-disabled {
    &, &:hover, &:focus {
      cursor: not-allowed;
      color: $--color-text-placeholder;
      border-color: $--border-color-lighter;
      background-color: #fff;
    }
  }
  &_primary {
    color: #fff;
    border-color: $--color-primary;
    background-color: $--color-primary;
    &:hover, &:focus {
      color: #fff;
      border-color: $--color-primary-light-2;
      background-color: $--color-primary-light-2;
    }
    &:active {
      background-color: mix(#000, $--color-primary, 10%);
    }
    &.is-plain {
      color: $--color-primary;
      border-color: mix(#fff, $--color-primary, 70%);
      background-color: mix(#fff, $--color-primary, 90%);
      &:hover, &:focus {
        color: #fff;
        border-color: $--color-primary;
        background-color: $--color-primary;
      }
      &:active {
        border-color: mix(#000, $--color-primary, 10%);
        background-color: mix(#000, $--color-primary, 10%);
      }
    }
    &.is-disabled {
      &, &:hover, &:focus {
        color: #fff;
        border-color: mix(#fff, $--color-primary, 50%);
        background-color: mix(#fff, $--color-primary, 50%);
      }
    }
  }
  &_success {
    color: #fff;
    border-color: $--color-success;
    background-color: $--color-success;
    &:hover, &:focus {
      color: #fff;
      border-color: mix(#fff, $--color-success, 20%);
      background-color: mix(#fff, $--color-success, 20%);
    }
    &:active {
      background-color: mix(#000, $--color-success, 10%);
    }
    &.is-plain {
      color: $--color-success;
      border-color: mix(#fff, $--color-success, 70%);
      background-color: mix(#fff, $--color-success, 90%);
      &:hover, &:focus {
        color: #fff;
        border-color: $--color-success;
        background-color: $--color-success;
      }
      &:active {
        border-color: mix(#000, $--color-success, 10%);
        background-color: mix(#000, $--color-success, 10%);
      }
    }
    &.is-disabled {
      &, &:hover, &:focus {
        color: #fff;
        border-color: mix(#fff, $--color-success, 50%);
        background-color: mix(#fff, $--color-success, 50%);
      }
    }
  }
  &_info {
    color: #fff;
    border-color: $--color-info;
    background-color: $--color-info;
    &:hover, &:focus {
      color: #fff;
      border-color: mix(#fff, $--color-info, 20%);
      background-color: mix(#fff, $--color-info, 20%);
    }
    &:active {
      background-color: mix(#000, $--color-info, 10%);
    }
    &.is-plain {
      color: $--color-info;
      border-color: mix(#fff, $--color-info, 70%);
      background-color: mix(#fff, $--color-info, 90%);
      &:hover, &:focus {
        color: #fff;
        border-color: $--color-info;
        background-color: $--color-info;
      }
      &:active {
        border-color: mix(#000, $--color-info, 10%);
        background-color: mix(#000, $--color-info, 10%);
      }
    }
    &.is-disabled {
      &, &:hover, &:focus {
        color: #fff;
        border-color: mix(#fff, $--color-info, 50%);
        background-color: mix(#fff, $--color-info, 50%);
      }
    }
  }
  &_warning {
    color: #fff;
    border-color: $--color-warning;
    background-color: $--color-warning;
    &:hover, &:focus {
      color: #fff;
      border-color: mix(#fff, $--color-warning, 20%);
      background-color: mix(#fff, $--color-warning, 20%);
    }
    &:active {
      background-color: mix(#000, $--color-warning, 10%);
    }
    &.is-plain {
      color: $--color-warning;
      border-color: mix(#fff, $--color-warning, 70%);
      background-color: mix(#fff, $--color-warning, 90%);
      &:hover, &:focus {
        color: #fff;
        border-color: $--color-warning;
        background-color: $--color-warning;
      }
      &:active {
        border-color: mix(#000, $--color-warning, 10%);
        background-color: mix(#000, $--color-warning, 10%);
      }
    }
    &.is-disabled {
      &, &:hover, &:focus {
        color: #fff;
        border-color: mix(#fff, $--color-warning, 50%);
        background-color: mix(#fff, $--color-warning, 50%);
      }
    }
  }
  &_danger {
    color: #fff;
    border-color: $--color-danger;
    background-color: $--color-danger;
    &:hover, &:focus {
      color: #fff;
      border-color: mix(#fff, $--color-danger, 20%);
      background-color: mix(#fff, $--color-danger, 20%);
    }
    &:active {
      background-color: mix(#000, $--color-danger, 10%);
    }
    &.is-plain {
      color: $--color-danger;
      border-color: mix(#fff, $--color-danger, 70%);
      background-color: mix(#fff, $--color-danger, 90%);
      &:hover, &:focus {
        color: #fff;
        border-color: $--color-danger;
        background-color: $--color-danger;
      }
      &:active {
        border-color: mix(#000, $--color-danger, 10%);
        background-color: mix(#000, $--color-danger, 10%);
      }
    }
    &.is-disabled {
      &, &:hover, &:focus {
        color: #fff;
        border-color: mix(#fff, $--color-danger, 50%);
        background-color: mix(#fff, $--color-danger, 50%);
      }
    }
  }
  &_text {
    border: none;
    color: $--color-primary;
    &:hover, &:focus, &:active {
      background: none;
    }
    &:hover, &:focus {
      color: mix(#fff, $--color-primary, 20%);
    }
    &:active {
      color: mix(#000, $--color-primary, 10%);
    }
  }
  [class*=x-icon-] + span {
    margin-left: 5px;
  }
}
