@import 'common/var.scss';

$border: 1px solid $--border-color-lighter;

.x-card {
  border: $border;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  color: $--color-text-primary;
  transition: .3s;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  &_hover:not(:hover), &_never  {
    box-shadow: none;
  }
  &_header {
    padding: 18px 20px;
    border-bottom: $border;
  }
  &_body {
    padding: 20px;
  }
}
