@import 'common/var.scss';

$prefix: x-checkbox;

.#{$prefix} {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1;
  font-size: 14px;
  &:not(:last-of-type) {
    margin-right: 30px;
  }
  &.is-border {
    border-radius: 4px;
    padding: 12px 20px 12px 10px;
    border: $--border-base;
    &.is-disabled {
      border-color: $--border-color-lighter;
    }
    &.is-checked {
      border-color: $--color-primary;
    }
  }
  &_medium.is-border {
    padding: 10px 20px 10px 10px;
  }
  &_small.is-border {
    padding: 8px 15px 8px 10px;
  }
  &_mini.is-border {
    padding: 6px 15px 6px 10px;
  }
  &_small, &_mini {
    &.is-border {
      font-size: 12px;
      .#{$prefix}_box {
        width: 12px;
        height: 12px;
        i {
          transform: scale(.7);
        }
      }
    }
  }
  &_box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 2px;
    border: $--border-base;
    color: #fff;
    background-color: currentColor;
    transition: all .2s;
    &.is-checked {
      background-color: $--color-primary;
    }
    &.is-checked, &:focus {
      border-color: $--color-primary;
    }
    i {
      transform: scale(.8);
    }
  }
  &_label {
    margin-left: 10px;
    color: $--color-text-regular;
  }
  &.is-disabled {
    cursor: not-allowed;
    .#{$prefix} {
      &_box {
        color: $--color-text-placeholder;
        border-color: $--border-color-base;
        background-color: $--border-color-extra-light;
      }
      &_label {
        color: $--color-text-placeholder;
      }
    }
  }
}
