@import 'common/var.scss';

.x-link {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  &.is-disabled {
    cursor: not-allowed;
  }
  &.is-underline:not(.is-disabled):hover {
    text-decoration: underline;
  }
  &_default {
    color: $--color-text-regular;
    &:hover {
      color: $--color-primary;
    }
    &.is-disabled {
      color: $--color-text-placeholder;
    }
  }
  &_primary {
    color: $--color-primary;
    &:hover {
      color: mix(#fff, $--color-primary, 20%);
    }
    &.is-disabled {
      color: mix(#fff, $--color-primary, 70%);
    }
  }
  &_success {
    color: $--color-success;
    &:hover {
      color: mix(#fff, $--color-success, 20%);
    }
    &.is-disabled {
      color: mix(#fff, $--color-success, 70%);
    }
  }
  &_warning {
    color: $--color-warning;
    &:hover {
      color: mix(#fff, $--color-warning, 20%);
    }
    &.is-disabled {
      color: mix(#fff, $--color-warning, 70%);
    }
  }
  &_danger {
    color: $--color-danger;
    &:hover {
      color: mix(#fff, $--color-danger, 20%);
    }
    &.is-disabled {
      color: mix(#fff, $--color-danger, 70%);
    }
  }
  &_info {
    color: $--color-info;
    &:hover {
      color: mix(#fff, $--color-info, 20%);
    }
    &.is-disabled {
      color: mix(#fff, $--color-info, 70%);
    }
  }
  + .x-link {
    margin-left: 10px;
  }
  [class*=x-icon-] + span {
    margin-left: 5px;
  }
}
