@import 'common/var.scss';

$prefixCls: x-switch;

.#{$prefixCls} {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  &.is-disabled {
    opacity: .6;
    .#{$prefixCls}_label, .#{$prefixCls}_core {
      cursor: not-allowed;
    }
  }
  &_label, &_core, &_core:before {
    transition: all .3s;
  }
  &_label {
    cursor: pointer;
    color: $--color-text-primary;
    &-left {
      margin-right: 10px;
    }
    &-right {
      margin-left: 10px;
    }
    &.is-active {
      color: $--color-primary;
    }
  }
  &_core {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    border-radius: 20px;
    position: relative;
    background-color: $--border-color-base;
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: #fff;
      position: absolute;
      top: 2px;
      left: 2px;
    }
    &.is-active {
      background-color: $--color-primary;
      &:before {
        left: calc(100% - 18px);
      }
    }
  }
}
