@import 'common/var.scss';

$tag: x-tag;
.#{$tag} {
  display: inline-block;
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  color: $--color-primary;
  border: 1px solid mix(#fff, $--color-primary, 70%);
  background-color: mix(#fff, $--color-primary, 90%);
  &_medium {
    height: 28px;
    line-height: 26px;
    .#{$tag}_close {
      transform: scale(.8);
    }
  }
  &_small {
    height: 24px;
    line-height: 22px;
    padding: 0 8px;
    .#{$tag}_close {
      transform: scale(.8);
    }
  }
  &_mini {
    height: 20px;
    line-height: 18px;
    padding: 0 5px;
    .#{$tag}_close {
      transform: scale(.7);
      margin-right: -3px;
    }
  }
  &.is-fade {
    transition: opacity .2s;
    &.#{$tag}-enter, &.#{$tag}-leave-to {
      opacity: 0;
    }
  }
  &_success {
    color: $--color-success;
    border-color: mix(#fff, $--color-success, 70%);
    background-color: mix(#fff, $--color-success, 90%);
    .#{$tag}_close:hover {
      background-color: $--color-success;
    }
    &.#{$tag}_dark {
      border-color: $--color-success;
      background-color: $--color-success;
    }
  }
  &_warning {
    color: $--color-warning;
    border-color: mix(#fff, $--color-warning, 70%);
    background-color: mix(#fff, $--color-warning, 90%);
    .#{$tag}_close:hover {
      background-color: $--color-warning;
    }
    &.#{$tag}_dark {
      border-color: $--color-warning;
      background-color: $--color-warning;
    }
  }
  &_danger {
    color: $--color-danger;
    border-color: mix(#fff, $--color-danger, 70%);
    background-color: mix(#fff, $--color-danger, 90%);
    .#{$tag}_close:hover {
      background-color: $--color-danger;
    }
    &.#{$tag}_dark {
      border-color: $--color-danger;
      background-color: $--color-danger;
    }
  }
  &_info {
    color: $--color-info;
    border-color: mix(#fff, $--color-info, 70%);
    background-color: mix(#fff, $--color-info, 90%);
    .#{$tag}_close:hover {
      background-color: $--color-info;
    }
    &.#{$tag}_dark {
      border-color: $--color-info;
      background-color: $--color-info;
    }
  }
  &_dark {
    color: #fff;
    border-color: $--color-primary;
    background-color: $--color-primary;
  }
  &_plain {
    background-color: #fff;
  }
  &.is-hit:not(.#{$tag}_dark) {
    border-color: currentColor;
  }
  + .#{$tag} {
    margin-left: 10px;
  }
  &_close {
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    margin: 0 -5px 0 3px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $--color-primary;
    }
  }
}
