@import 'common/var.scss';

.x-timeline {
  list-style: none;
  font-size: 14px;
  padding-left: 40px;
  &-item {
    position: relative;
    padding-bottom: 20px;
    &_tail {
      position: absolute;
      left: 4px;
      height: 100%;
      border-left: 2px solid $--border-color-light;
    }
    &_icon {
      color: #fff;
      font-size: 13px;
    }
    &_node {
      position: absolute;
      background-color: $--border-color-light;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      left: -1px;
      &-large {
        width: 14px;
        height: 14px;
        left: -2px;
      }
      &-primary {
        background-color: $--color-primary;
      }
      &-success {
        background-color: $--color-success;
      }
      &-warning {
        background-color: $--color-warning;
      }
      &-danger {
        background-color: $--color-danger;
      }
      &-info {
        background-color: $--color-info;
      }
    }
    &_wrapper {
      position: relative;
      top: -3px;
      padding-left: 28px;
    }
    &_content {
      color: $--color-text-primary;
    }
    &_timestamp {
      margin-bottom: 8px;
      font-size: 13px;
      color: $--color-text-secondary;
    }
    &_content + &_timestamp {
      margin-top: 8px;
      margin-bottom: 0;
    }
    &:last-child &_tail {
      display: none;
    }
  }
}
